.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.square-text {
    margin: 0 0 10px 0;
    font-size: 16px;
}

.square-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-data-container {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.navbar {
  width: 100vw;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #007bff;
  height: 60px;
}

.navbar, .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding-top: 2rem;
    background-color: #f8f9fa;
    transition: all 0.3s;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 0;
}

.toggle-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
}

.toggle-button {
    display: block;
    border: none;
    background-color: #007bff;
    color: white;
}

.nav-link {
    color: #333;
}