/* style dla DropDownMenu przycisk zmiany motywu */
.theme-switch-container .dropdown-item i {
    margin-right: 10px;
}

.theme-switch-container .fa-sun {
    color: gray;
}

.theme-switch-container .fa-moon {
    color: blue;
}

.theme-switch-container .fa-adjust {
    color: black;
}

/* Stylowanie dla trybu ciemnego */
body.dark-mode .theme-switch-container .fa-sun {
    color: yellow;
}

body.dark-mode .theme-switch-container .fa-moon {
    color: lightblue;
}